
    <!--inner Title Start -->
    <div class="indx_title_main_wrapper">
        <div class="title_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="indx_title_left_wrapper m24_cover">
                        <h2>download</h2>

                        <ul>
                            <li><a href="/">Home</a> &nbsp;&nbsp;&nbsp;/</li>
                            <li>download</li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- inner Title End -->
    <!-- artist single wrapper start -->
    <div class="artist_wrapper m24_cover pb-5">
        <div class="d-flex justify-content-center align-items-center mx-4 ">
        
            <div class="player mx-4">
                <img src="<%= song.image %>" alt="">
                    <div>
                        <h3 class="pt-4"><%= song.title %></h3>
                        <p><%= song.genres %></p>
                    </div>
                    <audio id="audio">
                        <source src="<%= song.song %>" type="audio/mpeg" >
                    </audio>
                    <div class="slider_container">
                        <button class="musicBtn" id="pauseBtn" onclick="playPause()">&#9658;</button>

                            <input type="range" min="1" max="100" value="0" class="seek_slider" onchange="seekTo()">
                        <button class="musicBtn" onclick="stop()">&#9611;</button>
                    </div>
                <div class="slider_container">
                    <a href="/request_song" class="downloadBtn">Download</a>
                    <!-- <button id="/request_song " class="downloadBtn">Download</button> -->

                    <div class="slider_container">
                        <i class="fa fa-volume-down"></i>
                        <input type="range" min="1" max="100" value="99" class="volume_slider" onchange="setVolume()">
                        <i class="fa fa-volume-up"></i>
                    </div>
                </div>
                <!-- <div class="slider_container"> -->

                    <div onclick='LoadLyrics(this)' class="lyrics" >
                        <p class="new"><%= song.lyrics %></p>
                        <p class="old">view Lyrics</p>
                    </div>
                <!-- </div> -->
            
            </div>
        </div>
    </div>








